@page
@model LeagueClassic.Web.Pages.Guides.ComposeModel
@{
    ViewData["Title"] = Model.Vm.Heading;
}

<div class="page-head">
    <h1 class="compose-title">
        @if (Model.Vm.Champion.IconPath is not null)
        {
            <img src="~/@Model.Vm.Champion.IconPath" alt="@Model.Vm.Champion.Name" class="champ-icon-md" />
        }
        New Guide: <span>@Model.Vm.Champion.Name</span>
    </h1>
    <a class="btn-plain" asp-page="/Guides/Create">&larr; Change champion</a>
</div>

<partial name="_EditorForm" model="Model.Vm" />

@section Scripts {
    <script src="~/js/guide-editor.js" asp-append-version="true"></script>
    <script src="~/js/item-search.js" asp-append-version="true"></script>
}
